# MacOS 에서만 실행
{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

PACKAGES=(
    chezmoi
    fzf
    gh
    neovim
    starship
)

CASKS=(
    visual-studio-code
    warp
)

# If Homebrew is not installed on the system, it will be installed here
if ! command -v brew >/dev/null 2>&1; then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

# Update homebrew packages
printf '\nInitiating Homebrew update...\n'
brew update

printf '\nInstalling packages...\n'
brew install "${PACKAGES[@]}"

printf '\n\nRemoving out of date packages...\n'
brew cleanup

printf '\n\nInstalling cask apps...\n'
brew install --cask "${CASKS[@]}"

{{ end -}}
